# Python caches
__pycache__/
*.py[cod]

# Entornos virtuales
venv/
env/
.venv/

# Archivos de configuración de tu IDE
.vscode/
.idea/

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos generados por Django
staticfiles/
*.log

# Si usas coverage, test reports, etc.
htmlcov/
coverage.xml
